.product-container{
  width: 250px;
  height: 320px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.product-container.dark{
  background-color: #303336;
  color: #f0f0f0;
}

.product-container img {
    width: 100%;
    height: 45%;
    object-fit: contain;
}

.rating-stars i {
    font-size: small;
}

.button-container button {
  background-color: #F3D9B1;
  border: none;
  color: #000;
  border-radius: 12px;
  padding: 6px 12px;
  font-weight: 600;
}

.button-container button:hover {
  background-color: #e0c89a;
  cursor: pointer;
}

.button-container .wishlist-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px 8px;
}

.rating-stars {
  color: #FFD700;
}