.wish-container{
  width: 250px;
  height: 320px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.wish-container img {
    width: 100%;
    height: 45%;
    object-fit: contain;
}