.home.dark {
    background-color: #27292B;
    color: #FFFFFF;
}

.hero-text {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeSlideIn 1s forwards;
}

@keyframes fadeSlideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.input-group:focus-within {
    transform: scale(1.02);
    transition: transform 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}

.float-circle {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 0, 150, 0.2);
    border-radius: 50%;
    animation: float 4s ease-in-out infinite alternate;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-20px);
    }
}

.search-bar.dark {
    color: #fff;
}