.header {
    background-color: #f8f9fa;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #F3D9B1;
}
.logo img {
    width: 200px;
    height: auto;
}

.wishList, .cart {
    position: relative;
    cursor: pointer;
}

.wishList i,
.cart i
{
    font-size: 24px;
}

.wishList .count, 
.cart .count
{
    position: absolute;
    top: -12px;
    right: -10px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}
