* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
}

.app-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}