* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s ease;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
}

.app-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.cursor-pointer {
    cursor: pointer;
}

body {
    overflow-y: scroll;
}

.modal-open {
    padding-right: 0 !important;
}

/* Animated Gradient Background */
body {
    background: linear-gradient(-45deg, #ffd1ba, #ffe6cc, #fff3e6, #ffe0b5);
    background-size: 400% 400%;
    animation: bg-move 12s ease infinite;
}

/* Dark Mode version */
body.dark {
    background: linear-gradient(-45deg, #0f172a, #111827, #020617, #020617);
    background-size: 400% 400%;
    animation: bg-move 12s ease infinite;
}

@keyframes bg-move {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}